DirectoryIndex index.php index.html


<VirtualHost *:80>
  ServerName {{ teampass_server_name }}
  DocumentRoot /var/www/teampass

  <Directory "/var/www/teampass">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
</VirtualHost>
